.flash-container {
  cursor: pointer;
  margin: 0;
  margin-bottom: $gl-padding;
  font-size: 14px;
  position: relative;
  z-index: 1;

  .flash-notice {
    @extend .alert;
    background-color: $blue-500;
    margin: 0;

    &.flash-notice-persistent {
      background-color: $blue-100;
      color: $gl-text-color;

      a {
        color: $gl-link-color;

        &:hover {
          color: $gl-link-hover-color;
          text-decoration: none;
        }
      }
    }
  }

  .flash-warning {
    @extend .alert;
    background-color: $orange-500;
    margin: 0;
  }

  .flash-alert {
    @extend .alert;
    background-color: $red-500;
    margin: 0;

    .flash-text,
    .flash-action {
      display: inline-block;
    }

    a.flash-action {
      margin-left: 5px;
      text-decoration: none;
      font-weight: $gl-font-weight-normal;
      border-bottom: 1px solid;

      &:hover {
        border-color: transparent;
      }
    }
  }

  .flash-success {
    @extend .alert;
    background-color: $green-500;
    margin: 0;
  }

  .flash-notice,
  .flash-alert,
  .flash-success,
  .flash-warning {
    border-radius: $border-radius-default;
    color: $white-light;

    .container-fluid,
    .container-fluid.container-limited {
      background: transparent;
    }
  }

  &.flash-container-page {
    margin-bottom: 0;

    .flash-notice,
    .flash-alert,
    .flash-success {
      border-radius: 0;
    }
  }

  &:empty {
    margin: 0;
  }
}

@include media-breakpoint-down(sm) {
  ul.notes {
    .flash-container.timeline-content {
      margin-left: 0;
    }
  }
}
